.client__list {
    @include flex();
    flex-wrap: wrap;
    gap: 30px;

}

.client__link {
    transition: border var(--transition-dur-and-func);
    @include flex();
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    background-color: var(--white-color);

    &:hover,
    &:focus {
            border: 1px solid var(--accent-blue);
        }
}

.client__icon {
    transition: fill var(--transition-dur-and-func);
    fill: var(--color-icon);

    .client__link:hover &,
    .client__link:focus & {
            fill: var(--accent-blue);
        }
}

@media screen and (min-width:768px) {
    .client__link{
        width: 226px;
    }
}

@media screen and (min-width:1200px) {
    .client__link {
        width: 170px;
    }
}
