.feature-section__list {
    display: flex;
    column-gap: 30px;

}

.feature-section__item {
    flex-basis: calc((100% - 90px)/4);

}

.feature-section__box {
    @include flex();
    align-items: center;
    height: 120px;
    background-color: var(--secondary-bgc);
    border-radius: 4px;
    margin-bottom: 30px;

}

.feature-section__title {
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    color: var(--secondary-text-color);

    margin-bottom: 10px;

}

.feature-section__text{
    line-height: 1.71;
}