@media screen and (max-widt:1199px) {
    
}
.footer {
    background-color: var(--accent-bgc);
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer__address{
    text-align: center;
    margin-bottom: 60px;
}
.logo__white{
    color: var(--white-color);
}
.address {
    font-style: normal;
    margin-top: 20px;
}
.address__item:not(:last-child) {
    margin-bottom: 8px;
}
.address__map {
    transition: color var(--transition-dur-and-func);
    line-height: 1.71;
    color: var(--white-color);
}
.address__link:hover,
.address__link:focus,
.address__map:hover,
.address__map:focus {
    color: var(--accent-blue);
}
.address__link {
    transition: color var(--transition-dur-and-func);
    line-height: 1.71;
    color: var(--transparent-text-color);
}
.subscribe-social{
    margin-bottom: 60px;
}
.subscribe-social__title {
    text-align: center;
    margin-bottom: 20px;
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    color: var(--white-color);
}
.subscribe-social__link {
    background-color: var(--icon-bgc);

    &:hover,
    &:focus {
            background-color: var(--accent-blue);
        }
}

.subscribe-social__icon {
    fill: var(--white-color);
}

.footer-form{
    text-align: center;
}
.footer-form__desc {
    margin-bottom: 20px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}
.footer-form__input {
    margin-bottom: 20px;
    padding-left: 16px;
    margin-right: 12px;
    background-color: transparent;

    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    outline: none;
    @include font(16px, 400, 20px);
    letter-spacing: 0.03em;

    &::placeholder {
            @include font(16px, 400, 20px);
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }

    &:focus {
        color: var(--white-color);
        }
}
.footer-form__btn-submit {
    padding: 10px 28px;
}


.footer-form__icon {
    margin-left: 10px;
    fill: var(--white-color);
}
.footer-form__btn-submit {
    transition: background-color var(--transition-dur-and-func);
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background-color: var(--accent-blue);

    display: flex;
    align-items: center;
    padding: 10px 28px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-height: 50px;
    min-width: 200px;


    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

@media screen and (min-width:768px) {
    .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    flex-wrap: wrap;
    }
    .footer__address {
        margin-right: 165px;
        min-width: 232px;
    }
    .footer-form{
        min-width: 450px;
    }
}

@media screen and (min-width:1200px) {
    .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    }
    .address__item:not(:last-child) {
    margin-bottom: 9px;
    }
    .subscribe-social {
    margin-bottom: 0;
    margin-left: 70px;
    }
    .subscribe-social__title{
        text-align: start;
    }
    .footer__address{
    text-align: start;
    }
    .footer-form {
    margin-left: 93px;
    min-width: 570px;
    }
    .footer-form__wrapper {
    display: flex;
    }
    .footer-form__input{
        margin-bottom: 0;
    }
    .footer-form__desc{
        text-align: left;
    }
    .footer__address {
    margin-right: 0;
    margin-bottom: 0;
    flex-grow: 1;
    }


}














