.page-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header__container {
    position: relative;
    display: flex;
    align-items: center;
}
.logo__dark {
    color: var(--secondary-text-color);
}

@media screen and(max-width:767px) {
    .nav__list {
            display: none;
        }
    
        .contact-list {
            display: none;
        }
    
}

@media screen and(min-width:768px) {
    .mobile-menu{
        display: none;
    }
    .mobile-menu-open{
        display: none;
    }
    .page-header{
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ECECEC;
    }
    .page-header__logo {
     margin-right: 87px;
    }
    .nav__list{
    display: flex;
    align-items: center;
    }
    .nav__item:not(:last-child) {
    margin-right: 50px;
    }
    .nav__link {
        transition: color var(--transition-dur-and-func);
    
        @include font($fs: 14px, $fw: 500, $lh: 16px);
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color);
        }
    .nav__link_current {
    position: relative;
    color: var(--accent-blue);

        &::after {
            position: absolute;
            left: 0;
            bottom: -32px;
            content: '';
            background-color: var(--accent-blue);
            border-radius: 2px;
            width: 100%;
            height: 4px;
        }
    }
    .contact-list {
        margin-left: auto;
    }
    .contact-list__item:not(:last-child) {
     margin-bottom: 10px;
    }
    .icon-envelope{
        width: 14px;
        height: 10px;
    }
    .icon-smartphone{
        width: 10px;
        height: 14px;
    }
    .contact-list__icon {
    margin-right: 8px;
    fill: currentColor;
    }
    .contact-list__link {
        transition: color var(--transition-dur-and-func);
        display: flex;
        align-items: center;
        
        @include font($fs: 12px, $fw: 500, $lh: 14px);
        letter-spacing: 0.02em;
    }
    .nav__link:hover,
    .nav__link:focus,
    .contact-list__link:hover,
    .contact-list__link:focus{
    color: var(--accent-blue);
    }

}

@media screen and(min-width:1200px){
    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .page-header__logo {
    margin-right: 93px;
    }
    .contact-list__link {
    @include font($fs: 14px, $fw: 500, $lh: 16px);
    line-height: 1.14;
    }
    .icon-envelope{
        width: 16px;
        height: 12px;
    }
    .icon-smartphone{
        width: 10px;
        height: 16px;
    }
    .contact-list{
        display: flex;
        align-items: center;
    }
    .contact-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
    }

    .contact-list__icon {
    margin-right: 10px;
    }
}





