.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-bgc);

    padding-top: 118px;
    padding-bottom: 118px;
}
.hero__title{
    @include font(26px, 900, 42px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 362px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
       screen and (min-resolution: 192dpi) and (max-width:767px),
       screen and (min-resolution: 2dppx) and (max-width:767px){
        .hero{
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile-background@2x.jpg);
        }
}

@media screen and (min-width:768px){
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-background.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-background@2x.jpg);
    }
}

@media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop-background.jpg);
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .hero__title {
        @include font(44px, 900, 60px);
        max-width: 696px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop-background@2x.jpg);
    }
}


