.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    row-gap: 15px;

}

.filter-list__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio__item:not(:last-child){
    margin-bottom: 30px;
}
.portfolio__link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
        }

}

.portfolio__box-overlay {
    position: relative;
    overflow: hidden;

}

.portfolio__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    

    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);


    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.56;
    color: var(--white-color);
    background-color: var(--portfolio-bgc);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
            transform: translate(0, 0);
        }

}

.portfolio__description {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
    
}

.portfolio__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);

    margin-bottom: 4px;

}

.portfolio__text {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.88;
}

@media screen and (min-width:768px) {
    .filter-list{
        row-gap: 0;
        justify-content: center;
        margin-bottom: 30px;
    }
    .portfolio__overlay {
    padding: 49px 24px 77px 24px;
    }
    .portfolio__list{
        justify-content: flex-start;
        row-gap: 30px;
        column-gap: 30px;
    }
    .portfolio__item{
        flex-grow: calc((100% - 30px) / 2);
    }
    .portfolio__item:not(:last-child){
    margin-bottom: 0;
    }

}

@media screen and (min-width:1200px) {
    .portfolio__item {
            flex-grow: calc((100% - 60px) / 3);
        }
}