// .team-section{
//     background-color:var(--secondary-bgc);
// }
// .team-section__title{
//     margin-bottom: 50px;
// }
// .team-section__list {
//     display: flex;
//     gap: 30px;
// }
// .team-section__item{
//     background: var(--white-color);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     flex-basis: calc((100% - 90px)/4);
// }
// .team-section__description{
//     padding-top: 30px;
//     padding-bottom: 30px;
// }

// .team-section__suptitle {
//     @include font();
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: var(--secondary-text-color);

//     margin-bottom: 10px;
// }

// .team-section__text {
//     margin-bottom: 16px;
//     @include font(16px, 400, 19px);
//     letter-spacing: 0.03em;
//     text-align: center;
// }
// .social-list{
//     @include flex();
//     gap: 10px;
// }
// .social-list__link{
//     transition: background-color var(--transition-dur-and-func);
//     @include flex();
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
// }
// .social-list__link{
//     background-color: var(--white-color);

//     &:hover,
//     &:focus {
//             background-color: var(--accent-blue);
//         }
// }

// .social-list__icon{
//     transition: fill var(--transition-dur-and-func);
//     fill: var(--color-icon);

//     .social-list__link:hover &,
//     .social-list__link:focus &{
//     fill: var(--white-color);
//            }

// }

