// .work-section {
//     padding-top: 0px;
// }

// .work-section__title {
//     margin-bottom: 50px;
// }

// .work-section__list {
//     display: flex;
//     column-gap: 30px;

// }

// .work-section__item {
//     position: relative;
//     flex-basis: calc((100% - 60px)/3);
// }

// .work-section__text {
//     @include flex();
//     align-items: center;
//     position: absolute;
//     bottom: 0px;
//     left: 0px;
//     width: 100%;
//     height: 70px;
//     overflow: auto;

//     @include font(14px, 700, 16px);
//     text-transform: uppercase;
//     color: var(--white-color);
//     background-color: var(--work-bgc);
// }