.hero__btn {
    transition: background-color var(--transition-dur-and-func);
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background-color: var(--accent-blue);

    display: flex;
    align-items: center;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-height: 50px;
    min-width: 200px;

    
    &:hover,
    &:focus {
            background-color: #188CE8;
        }
}

